---
import About from "../components/about.astro";
import Container from "../components/container.astro";
import Features from "../components/features.astro";
import Hero from "../components/hero";
import AboutPrince from "../components/prince.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <div class="max-w-screen-xl mx-auto px-2">
    <Hero client:load />
  </div>
  <Container>
    <Features />
  </Container>
  <About />
  <Container>
    <AboutPrince />
  </Container>
</Layout>
