---
// @ts-ignore
---

<div class="mt-16 md:mt-16 px-6" id="about">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">About us</h2>
</div>

<div
  class="min-h-[650px] mt-6 bg-[url('/about-hero.png')] bg-cover bg-center bg-no-repeat p-12 grid items-end justify-end">
  <div class="min-w-fit px-12">
    <p class="text-lg mt-4 text-white">
      The Olu of Warri Palace Liason Authority has a Liason Officer who is the
      sole Representative of the Olu of Warri and the Itsekiri Nation to the
      NNPCL. The Office handles all issues that concerns community engagement
      that has to do with the Palace of His Majesty Ogiame Atuwatse III, CFR the
      Olu of Warri. The Office also handles Human Capacity Development of youths
      in the Oil and Gas Sector, empowerment of people from the Itsekiri Oil
      Producing Communities, employment, etc.
    </p>
    <p class="text-lg mt-4 text-white">
      The current Olu Palace Liason Officer is Prince Collins Oritsetimeyin
      Edema.
    </p>
  </div>
</div>
