---
// @ts-ignore
---

<div class="mt-24 px-6 grid items-center justify-center">
  <img src={"/prince-img.png"} class="h-40 w-40 rounded-full" />
</div>

<div>
  <div class="min-w-fit px-12">
    <p class="text-lg mt-4 text-black text-center lg:px-20">
      Prince Collins Oritsetimeyin Edema <br />
      Born May 16, 1978 <br />
      B.Sc Pure and Applied Chemistry from the University of Ibadan, and web programmer.
      CEO Rucotech Integrated Services Nigeria Limited, and Alay Innovative Nigeria
      Limited. Has over 15 years experience in the Oil and Gas Sector. President,
      National Association of Itsekiri Graduates (NAIG) 2016- 2020.
    </p>
  </div>
</div>
